@import "/src/App.scss";

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    



    .trust-message-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        align-items: center;
        width: 100%;
        font-family: $font-global;
        
    }

    .trust-message {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: center;
        gap: 15px;
        color: $primary-color-2;
    
    }

    .trust-message-aside {
        display: flex;
        flex-direction: row; 
        gap: 5px;
        align-items: center;

        h5{
            font-size: 14px;
            font-weight: $font-medium;
        }
        
        h6 {
            font-size: 14px;
            color: $primary-color-1;
            font-weight: $font-bold;
        }
    }

    .reverse {
        flex-direction: row-reverse !important
    }

        .ipt-search{
            width: 32rem;
            padding: 10px;
            background-color: #F6F5F2;
            border-radius: 10px;
        }
    
        .content-search-bar{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 20px 190px;
        
    
            ul{
                display: flex;
                gap: 15px;
            }
        }
    
        .category-navbar{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            margin: 0 200px;
            padding: 5px;
            margin-bottom: 100px;
            border-top: 2px solid #2c2b2b48;
            box-shadow: 1px 0px 2px 0px  #5a585883;

            .nav-items{
                color: $primary-color-2;
                font-family: $font-global;
                font-size: $font-small;
                text-transform: uppercase;

            }
        }

        .icon:hover{
            fill: $primary-color-1;
        }
    }

        

